@use "variables" as v;

.aside-left {
  background-color: v.$color_darkBlack;
}

.content {
  &__container {
    padding: 20px 50px 200px;
  }
  &__block-title {
    position: relative;
    margin-block-start: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
      content: "";
      position: absolute;
      inline-size: 40%;
      block-size: 1px;
      background-color: v.$color_grey;
    }
    &::before {
      inset: -10px auto auto 30%;
    }

    &::after {
      inset: auto auto -10px 30%;
    }
  }
  &__title {
    font: inherit;
    font-size: 3rem;
  }

  &__block-text {
    margin-block-start: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__text {
    line-height: 1.65em;

    &-highlight {
      color: v.$color_palePurple;
    }

    &-list {
      margin: 0 0 0 30px;
      &-item {
        position: relative;
        &::before {
          content: "•";
          color: v.$color_palePurple;
          display: inline-block;
          inline-size: 1em;
          margin-inline-start: -1em;
          margin-block-start: 0.2em;
          position: absolute;
        }
      }
    }
  }

  &__table-unstyled {
    margin: 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;

    &-item {
      text-align: center;
      margin-block-start: 15px;
    }
  }

  &__system-specs-table {
    margin: 50px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;
  }
  &__system-specs-table-item {
    margin: 15px 30px 0;
    &:nth-child(-n + 6) {
      text-align: start;
    }
    &:nth-child(n + 7) {
      text-align: end;
    }
  }

  &__navigation-buttons {
    margin-block-start: 100px;
    display: flex;
    justify-content: space-around;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: -30px 0 0 0; // Отступ сверху для расположения линии над кнопками
      inline-size: 100%;
      block-size: 2px;
      background-color: v.$color_charcoalGray;
    }
  }
  &__navigation-button {
    background-color: v.$color_charcoalGray;
    border: 1px solid v.$color_slateGray;
    border-radius: 8px;
    inline-size: 300px;
    block-size: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s ease, transform 0.2s ease;
    &:hover {
      background-color: #353536;
    }
    &:hover:active {
      background-color: #474747;
      transform: scale(0.95);
    }

    &-desc {
      font-weight: 500;
      font-size: 12px;
      line-height: 20px;
    }
    &-title {
      line-height: 20px;
      font-size: 16px;
      font-weight: 500;
      color: v.$color_lightBlueViolet;
    }
    &-next {
      text-align: end;
    }
  }
}

.messagebox {
  position: relative;
  margin: 30px 0;
  padding: 40px 35px 35px 35px;
  border: 1px solid v.$color_vividIndigo;
  border-radius: 10px;
  line-height: 24px;
  &__title {
    position: absolute;
    inset: 0;
    margin: 5px 5px;
  }

  &__notice {
    color: v.$color_lightLavender;
    background-color: v.$color_darkIndigo;
  }
  &__warning {
    background-color: v.$color_darkBrown;
    border: {
      color: v.$color_gold;
    }
    color: v.$color_gold;
  }
}
