@use "variables" as v;

.mod {
  &__title {
  }
}

.fomod {
  margin: 20px 0 0 0;

  &__toggle {
    background-color: v.$color_charcoalGray;
    color: v.$color_white;
    border: none;
    padding: 10px 10px 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-align: start;
    inline-size: 100%;
    font-size: 16px;
  }

  &__content {
    margin-block-start: 10px;
    padding: 10px;
    background-color: v.$color_darkGrey;
    border-radius: 5px;
    max-block-size: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
  }

  &[open] .fomod__content {
    max-block-size: 500px; // Установите максимальную высоту, достаточную для содержимого
    padding: 10px;
    transition: max-height 0.5s ease-in;
  }

  &[open] .fomod__toggle {
    background-color: v.$color_darkSlateGray;
  }
}

// Теги -------------------------------------
.tag {
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  white-space: nowrap;
  display: inline-block;

  // Теги по категориям ------------------------

  &--cao {
    background-color: v.$color_forestGreen;
  }

  &--classic {
    background-color: v.$color_darkForestGreen;
  }

  &--ck-resave {
    background-color: v.$color_crimsonRed;
  }

  &--esl {
    background-color: v.$color_electricBlue;
  }

  &--extract-bsa {
    background-color: v.$color_tealGreen;
  }

  &--loot {
    background-color: v.$color_roseBrown;
  }

  &--removal-tool {
    background-color: v.$color_azureBlue;
  }

  &--tool {
    background-color: v.$color_mediumGray;
  }

  &--xedit--quick-auto-clean {
    background-color: v.$color_goldenrod;
  }

  &--zmerge {
    background-color: v.$color_royalPurple;
  }

  &--special-instructions {
    background-color: v.$color_magentaPink;
  }
}
