@use "variables" as v;

.mod {
  margin-top: 100px;
  background-color: v.$color_dark_charcoal; // Заменённый цвет вместо #272626
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__title {
    font-size: 20px;
  }
  &__info {
    display: inline-flex; /* Чтобы блок не растягивался */
    align-items: stretch;
    border: 1px solid v.$color_grey;
    border-radius: 5px;
    padding: 0;
    align-self: flex-start; // чтобы блок не растягивался по ширине
    width: auto; // ширина по содержимому
    overflow: hidden; // чтобы фон не вылезал за скруглённые углы

    &-download,
    &-version,
    &-author {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px 15px;
      color: v.$color_white;
      text-decoration: none;
      border-right: 1px solid v.$color_grey;

      &:last-child {
        border-right: none;
      }
    }

    &-download {
      background-color: v.$color_download-default;
      transition: background-color 0.3s;
      &:hover {
        background-color: v.$color_download-hover;
      }
    }

    &-version,
    &-author {
      background-color: v.$color_version-author-default;
    }

    &-version-label,
    &-author-label {
      font-weight: bold;
      margin-bottom: 5px;
      color: v.$color_gold;
    }
  }

  &__hr {
    border-color: v.$color_grey;
  }

  &__files {
    padding: 20px;
    border: 1px solid v.$color_grey; // Изменяем цвет границы на серый
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-legend {
      color: v.$color_grey;
      margin-left: 30px;
      padding: 0 10px; // Добавляем внутренний отступ слева
    }

    &-item {
      span {
        margin: 0 10px; // Увеличиваем горизонтальные отступы между элементами
      }

      // Добавляем псевдоэлементы ::before для вставки тире перед элементами, кроме первого
      span:not(:first-child)::before {
        content: "— "; // Вставляем тире перед каждым элементом, кроме первого
        color: v.$color_grey; // Цвет тире
        margin-right: 10px; // Отступ справа от тире
      }

      &-version {
        font-style: italic; // Делает весь текст версии курсивом
      }

      &-version-label {
        font-style: italic; // Делает текст курсивом
        margin-right: 5px; // Добавляет отступ справа
      }

      &-highlight-main {
        color: v.$color_palePurple; // Сохраняем тот же цвет, что и у content__text-highlight
      }

      &-highlight-update {
        color: #32a5a0; // Задаем новый цвет
      }
    }
  }
}

// Fomod -------------------------------------

.fomod {
  margin: 20px 0 0 0;
  // overflow: hidden;

  &__toggle {
    background-color: v.$color_charcoalGray;
    color: v.$color_white;
    border: none;
    padding: 10px 10px 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    text-align: start;
    inline-size: 100%;
    font-size: 16px;
    transition: 0.4s;
    &.active {
      border-end-start-radius: 0;
      border-end-end-radius: 0;
      background-color: v.$color_darkSlateGray;
    }
  }

  &__content {
    margin-block-start: 0;
    padding: 0;
    background-color: v.$color_charcoalGray;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
    opacity: 0;
    pointer-events: none;
    max-block-size: 0;
    // position: absolute;

    &.open {
      padding: 20px 50px;
      opacity: 1;
      pointer-events: auto;
      max-block-size: 1000px;
      transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
      position: relative;
    }
  }

  &__page {
    flex: 0 0 100%;
    transition: transform 0.5s ease;

    &:not(.fomod__page-active) {
      visibility: hidden;
      position: absolute;
    }

    &-title {
      padding-inline-start: 10px;
      margin-block-end: 5px;
    }

    &-content {
      padding: 20px;
      border: 1px solid v.$color_white;
      border-radius: 10px;
    }
  }
  &__section {
    border: 1px solid v.$color_white;
    border-radius: 10px;
    padding: 10px;

    &-label {
      padding: 0 5px;
    }

    &-item {
      margin: 10px 30px;
      display: flex;
      gap: 15px;
    }
  }
}

.gallery {
  display: flex;
  overflow: hidden;
  position: relative;
  inline-size: 100%;

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;

    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid #ffffff;
    border-width: 2px 2px 0 0;
    transform: rotate(-135deg);
  }

  &__prev {
    left: 15px;
    transform: rotate(-135deg);
  }

  &__next {
    right: 15px;
    transform: rotate(45deg);
  }

  &__indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__indicator {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  &__indicator-active {
    background-color: v.$color_palePurple;
  }
}

// Теги -------------------------------------
.tag {
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
  white-space: nowrap;
  display: inline-block;

  // Теги по категориям ------------------------

  &--cao {
    background-color: v.$color_forestGreen;
  }

  &--classic {
    background-color: v.$color_darkForestGreen;
  }

  &--ck-resave {
    background-color: v.$color_crimsonRed;
  }

  &--esl {
    background-color: v.$color_electricBlue;
  }

  &--extract-bsa {
    background-color: v.$color_tealGreen;
  }

  &--loot {
    background-color: v.$color_roseBrown;
  }

  &--removal-tool {
    background-color: v.$color_azureBlue;
  }

  &--tool {
    background-color: v.$color_mediumGray;
  }

  &--xedit--quick-auto-clean {
    background-color: v.$color_goldenrod;
  }

  &--zmerge {
    background-color: v.$color_royalPurple;
  }

  &--special-instructions {
    background-color: v.$color_magentaPink;
  }
}
