// Основные цвета ---------------------------------------------

$color_yellowBrown: #dfdfd6;
$color_black: #000;
$color_darkBlack: #0f0f10;
$color_grey: #a9a9a9;
$color_darkGrey: #1b1b1f;
$color_darkGrey-rgba: rgba(27, 27, 31, 0.5);
$color_charcoalGray: #2f3035;
$color_slateGray: #2e2e32;
$color_warmOrange: #e9934b;
$color_paleBlue: #cdf0fe;
$color_palePurple: #9499ff;
$color_vividIndigo: #636cff;
$color_lightLavender: #bcc0ea;
$color_lightBlueViolet: #8e8ff8;
$color_darkIndigo: #212131;
$color_darkBrown: #3c3422;
$color_gold: #f9b440;


// Цвета для тегов ---------------------------------------------

$color_forestGreen: #2f8a16;
$color_darkForestGreen: #195c14;
$color_crimsonRed: #d21913;
$color_electricBlue: #0808ef;
$color_tealGreen: #3da19c;
$color_roseBrown: #806056;
$color_azureBlue: #206caf;
$color_mediumGray: #636363;
$color_goldenrod: #d79a40;
$color_royalPurple: #831482;