$color_yellowBrown: #dfdfd6;
$color_black: #000;
$color_darkBlack: #0f0f10;
$color_grey: #a9a9a9;
$color_darkGrey: #1b1b1f;
$color_darkGrey-rgba: rgba(27, 27, 31, 0.5);
$color_charcoalGray: #2f3035;
$color_slateGray: #2e2e32;
$color_warmOrange: #e9934b;
$color_paleBlue: #cdf0fe;
$color_palePurple: #9499ff;
$color_vividIndigo: #636cff;
$color_lightLavender: #bcc0ea;
$color_lightBlueViolet: #8e8ff8;
$color_darkIndigo: #212131;
$color_darkBrown: #3c3422;
$color_gold: #f9b440;
