$color_yellowBrown: #dfdfd6;
$color_black: #000;
$color_grey: #a9a9a9;
$color_darkGrey: #1b1b1f;
$color_darkGrey-rgba: rgba(27, 27, 31, 0.5);
$color_warmOrange: #e9934b;
$color_paleBlue: #cdf0fe;
$color_palePurple: #9499ff;